<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
    <script>
        let xmlhttp = new XMLHttpRequest();
        function log(msg) {
            console.log(msg);
        }
        function reqListener () {
            log('our js register');
        }

        function updateProgress (oEvent) {
            log('inside progress');
            log(oEvent);
            log(oEvent.currentTarget.responseText.length);
            if (oEvent.lengthComputable) {
                let percentComplete = (oEvent.loaded / oEvent.total) * 100;
                document.getElementById('progress').innerText = percentComplete + ' %'
              } else {
                // Unable to compute progress information since the total size is unknown
            }
            let p = document.createElement('p');
            let text = document.createTextNode('start new chunck: ' +  oEvent.target.responseText);
            p.appendChild(text);
            document.getElementById('data').appendChild(p);
        }
        url = '{% url "test_stream" %}';

        xmlhttp.addEventListener('load', reqListener);
        xmlhttp.addEventListener('progress', updateProgress, false);
        xmlhttp.open("get", url, true);
        xmlhttp.send();

    </script>
<body>
    <h1>Streaming</h1>
    <p>We are going to be pulling data from {% url "test_stream" %} until finished</p>
    <p>You can look for 'start new chunck:' so you can see that data comes in several chunks</p>
    <div id="progress"></div>
    <div id="data"></div>
    <p>Please, check browser console info for more info</p>
</body>
</html>
